include LICENSE
include CONTRIBUTING.rst
include HISTORY.rst
include AUTHORS.rst

recursive-include andablog *
recursive-include demo *
recursive-include docs *.rst conf.py Makefile make.bat

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
