include LICENSE
include CONTRIBUTING.rst
include HISTORY.rst
include AUTHORS.rst

recursive-include djangoandablog *
recursive-include demo *
recursive-include docs *.rst conf.py Makefile make.bat
recursive-include docs/_static *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
