{% extends "djangoandablog/base.html" %}

{% block andablog_meta %}
    <meta name="description" content="Latest blog entries">
    <meta name="author" content="TODO">
{% endblock %}

{% block andablog_page_title %}
    Latest Blog Entries
{% endblock %}

{% block andablog_content %}
    {% for entry in entries %}
        <div class="row">
            <div class="col-sm-8 blog-main">
                <div class="blog-post">
                    <h2 class="blog-post-title">{{ entry.title }}</h2>
                    <p class="blog-post-meta">{{ entry.published_timestamp|date:"DATE_FORMAT" }}{% if entry.author %} by {% if entry.author.get_absolute_url %}<a href="{{ entry.author.get_absolute_url }}">{{ entry.author.get_short_name }}</a>{% else %}{{ entry.author.get_short_name }}{% endif %}{% endif %}</p>
                    {% comment %}TODO: Markdown{% endcomment %}
                    <p>{{ entry.content }}</p>
                </div><!-- /.blog-post -->
            </div>
        </div>
    {% endfor %}
{% endblock %}
