{% extends "base.html" %}
{% load staticfiles %}

{% block subtitle %}
    {% block andablog_page_title %}
    {% endblock %}
{% endblock %}

{% block head_styles %}
    {% block andablog_head_extra %}
        <link rel="stylesheet" href="{% static 'css/djangoandablog.css' %}">
    {% endblock %}
{% endblock %}

{% block menu-blog-class %}active{% endblock %}

{% block content %}
    {% comment %}
    TODO: Delete if not needed.
    <div class="andablog-header">
        <h1 class="andablog-title">{% if andablog_blog_title %}{{ andablog_blog_title }}{% else %}Untitled{% endif %}</h1>
        <p class="lead andablog-description">{% if andablog_blog_description %}{{ andablog_blog_description }}{% else %}No description given{% endif %}</p>
    </div>
    {% endcomment %}

    {% block andablog_content %}
    {% endblock %}
{% endblock %}
