{% load trans from i18n %}
{% load url from future %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <title>{% block title %}{% block subtitle %}{% endblock %} - Demo{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head_styles %}
    {% endblock %}

    {% block head_scripts %}
    {% endblock %}
  </head>

  <body>
    <div style="text-align: center">Welcome! <a href="/">Home</a> | <a href="#TODO">Blog</a></div>
    {% block content %}{% endblock %}

    {% block body_scripts %}{% endblock %}
  </body>
</html>
