{% extends "base.html" %}
{% load url from future %}

{% block subtitle %}Home{% endblock %}

{% block menu-home-class %}active{% endblock %}

{% block content %}
    <h2>Here are my custom users and all their personal information!</h2>
    <table>
        <tr>
            <th>Email</th>
            <th>Full Name</th>
            <th>Address</th>
            <th>Fears</th>
        </tr>
        {% for custom_user in custom_users %}
        <tr>
            <td>{{ custom_user.email }}</td>
            <td>{{ custom_user.name }}</td>
            <td>{{ custom_user.address }}</td>
            <td>{{ custom_user.fears }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
