{% extends "base.html" %}
{% load url from future %}

{% block subtitle %}Home{% endblock %}

{% block menu-home-class %}active{% endblock %}

{% block content %}
    <h2>Comming soon!</h2>
    <p>Tired of making deals in smokey and cramped back rooms? Claustrophobic or Not a smoker? Look no further.</p>
    <p>Welcome to example.org, a place for company reps to share and fix prices within their industry from the comfort of their home!</p>

    <h3>Where can I find updates?</h3>
    <p>Check <a href="/blog">our blog</a>.</p>

    {% comment %}Geocitiesesque banner For ambiance{% endcomment %}
    <pre style="font: 4px/2px monospace;background-color: white;border: none;">                                                                                         .
                                                                                        ;',,,,,,:@`
                                                                                      +,,,,,,,,,,,,'`
                                                                                     ',,,,,,,,,,,,,,,+
                                                                                    :,,,,,,,,,,,,,,,,,@
                                                                                   :,,,,,,,,,,,,,,,,,,,@
                                                                                  :,,,,,,,,,;;;,,,,,,,,,@
                                                                                 :,,,,,,@@@@@@@@@@+,,,,,,@
                                                                                :,,,,:@@@@@@###@@@@@#,,,,,@
                                                                               :,,,,@@@@;,,,,,,,,,@@@@:,,,,@
                                                                              :,,,,@@@;,,,,,,,,,,,,,@@@+,,,,@
                                                                             :,,,,@@@,,,,,,,,,,,,,,,,;@@+,,,,@
                                                                            :,,,,@@@,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                                           :,,,,@@@,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                                          :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                                         :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                                        :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                                       :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                                      :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                                     :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                                    :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                                   :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                                  :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                                 :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                                :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                               :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                              :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                             :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                            :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                           :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                          :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                         :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                        :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                       :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                      :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                     :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                    :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                   :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                  :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                 :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                                :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                               :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                              :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                             :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                            :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                           :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                          :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                         :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                        :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                       :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                      :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                     :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                    :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                   :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                  :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                 :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                                :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                               :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                              :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                             :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                            :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                           :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                          :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                         :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                        :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@@,,,,@@@,,@@@#,,,#@@#,,@@@@@@@:,,,#@@@@@@@@,,@@@@@@@@+,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                       :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@@,,,,@@@,,@@@@,,,#@@#,,@@@@@@@@;,,#@@@@@@@@,,@@@@@@@@@#,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                      :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@@,,,,@@@,,@@@@@,,#@@#,,@@@##@@@@,,#@@@;;;;;,,@@@@,,@@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                     :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@@,,,,@@@,,@@@@@#,#@@#,,@@@,,,@@@;,#@@@,,,,,,,@@@@,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                    :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@@,,,,@@@,,@@@@@@:#@@#,,@@@,,,@@@#,#@@@@@@@@,,@@@@'+@@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                   :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@@,,,,@@@,,@@@,@@@#@@#,,@@@,,,@@@@,#@@@@@@@@,,@@@@@@@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                  :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@@,,,,@@@,,@@@,+@@@@@#,,@@@,,,@@@#,#@@@,,,,,,,@@@@#@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                 :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@@:,,,@@@,,@@@,,@@@@@#,,@@@,,,@@@;,#@@@,,,,,,,@@@@,@@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
                :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@@@++@@@@,,@@@,,,@@@@#,,@@@@@@@@@,,#@@@@@@@@',@@@@,,@@@#,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
               :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@@@@@@@,,,@@@,,,'@@@#,,@@@@@@@@:,,#@@@@@@@@',@@@@,,#@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
              :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@@@@@,,,,@@@,,,,@@@#,,@@@@@@#,,,,#@@@@@@@@',@@@@,,,@@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
             :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
            :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
           :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
          :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@+,,,,@
         :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@',,,,@
        :,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@:,,,,@
       ;,,,,;@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,'@@,,,,,+
      #,,,,,@@:,,,,,,,,,,,,,:@@@@@',,,,,;@@@@@;,,,,@@@,,,,@@@,,,:@@@@@',,@@@@@@@@@@',@@@@@@@@:,,@@@@,,,@@@@,,,,@@@@@#,,,@@@@@@@@@@,'@@@,,,,'@@@@@:,,,,@@@,,,,@@@,,,,,,,,,,,,@@+,,,,,
      ,,,,,;@@,,,,,,,,,,,,,;@@@@@@@@,,,@@@@@@@@@,,,@@@@,,,@@@,,;@@@@@@@+,@@@@@@@@@@',@@@@@@@@@,,@@@@,,,@@@@,,,@@@@@@@@,,@@@@@@@@@@,'@@@,,,@@@@@@@@#,,,@@@@,,,@@@,,,,,,,,,,,,,@@,,,,,#
     @,,,,,@@,,,,,,,,,,,,,,@@@@;+@@@,,'@@@#;@@@@:,,@@@@',,@@@,,@@@,,:@@@,@@@@@@@@@@',@@@,,,@@@#,@@@@,,,@@@@,,@@@@''@@@+,@@@@@@@@@@,'@@@,,#@@@+;@@@@,,,@@@@:,,@@@,,,,,,,,,,,,,@@;,,,,,
     :,,,,,@@,,,,,,,,,,,,,'@@@,,,'@',,@@@+,,,@@@@,,@@@@@,,@@@,,@@@@:,,,,,,,,,@@@,,,,,@@@,,,@@@@,@@@@,,,@@@@,,@@@,,,,@+,,,,,@@@',,,,'@@@,,@@@;,,,@@@@,,@@@@@,,@@@,,,,,,,,,,,,,:@@,,,,,+
     ,,,,,:@@,,,,,,,,,,,,,@@@@,,,,,,,,@@@,,,,:@@@,,@@@@@@,@@@,,'@@@@@@',,,,,,@@@,,,,,@@@''#@@@:,@@@@,,,@@@@,;@@@,,,,,,,,,,,@@@',,,,'@@@,,@@@,,,,'@@@,,@@@@@@,@@@,,,,,,,,,,,,,,@@,,,,,'
    :,,,,,+@',,,,,,,,,,,,,@@@#,,,,,,,,@@@,,,,,@@@,,@@@@@@'@@@,,,'@@@@@@@,,,,,@@@,,,,,@@@@@@@@',,@@@@,,,@@@@,'@@@,,,,,,,,,,,@@@',,,,'@@@,,@@@,,,,;@@@,,@@@@@@;@@@,,,,,,,,,,,,,,@@,,,,,,
    +,,,,,@@,,,,,,,,,,,,,,@@@@,,,,:,,,@@@,,,,;@@@,,@@@,@@@@@@,,,,,,'@@@@,,,,,@@@,,,,,@@@'@@@@,,,@@@@,,,@@@@,;@@@,,,,;,,,,,,@@@',,,,'@@@,,@@@,,,,'@@@,,@@@,@@@@@@,,,,,,,,,,,,,,@@,,,,,,
    @,,,,,@@,,,,,,,,,,,,,,'@@@,,,#@@#,@@@#,,,@@@@,,@@@,:@@@@@,,@@@,,,@@@;,,,,@@@,,,,,@@@,,@@@@,,+@@@,,,@@@#,,@@@,,,:@@@,,,,@@@',,,,'@@@,,@@@',,,@@@@,,@@@,;@@@@@,,,,,,,,,,,,,,@@,,,,,,
    +,,,,,@@,,,,,,,,,,,,,,,@@@@'@@@@,,'@@@@'@@@@:,,@@@,,@@@@@,,@@@;,,@@@,,,,,@@@,,,,,@@@,,'@@@,,,@@@@'@@@@,,,@@@@'#@@@',,,,@@@',,,,'@@@,,+@@@#'@@@@,,,@@@,,@@@@@,,,,,,,,,,,,,,@@,,,,,,
    :,,,,,#@;,,,,,,,,,,,,,,:@@@@@@@#,,,@@@@@@@@#,,,@@@,,,@@@@,,'@@@@@@@#,,,,,@@@,,,,,@@@,,,@@@@,,@@@@@@@@@,,,,@@@@@@@@,,,,,@@@',,,,'@@@,,,@@@@@@@@+,,,@@@,,,@@@@,,,,,,,,,,,,,,@@,,,,,,
     ,,,,,;@@,,,,,,,,,,,,,,,,@@@@@;,,,,,;@@@@@:,,,,@@@,,,:@@@,,,;@@@@@;,,,,,,@@@,,,,,@@@,,,;@@@:,,;@@@@@;,,,,,,#@@@@+,,,,,,@@@',,,,'@@@,,,,;@@@@@,,,,,@@@,,,:@@@,,,,,,,,,,,,,,@@,,,,,;
     ,,,,,,@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@,,,,,#
     @,,,,,@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@;,,,,,
      ,,,,,'@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@,,,,,+
      @,,,,,@@:,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,,`
       :,,,,;@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,;@@,,,,,#
        ,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:@@:,,,,#
        `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@+,,,,#
         `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,@,,,,,,,,,,,,,,,,,,,,,,,@;,,,,,,,,,,@,,,,,,,,,,,,,,,,,,,,,,,@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
          `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,@,,,,,,,,,,,,,,,,,,,,,,,@;,,,,,,,,,,@,,,,,,,,,,,,,,,,,,,,,,,@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
           `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,@,,,,,,,,,,,,,,,,,,,,,,,@;,,,,,,,,,,@,,,,,,,,,,,,,,,,,,,,,,,@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
            `,,,,,@@@,,,,,,,,,,,,,,,,,,#@@@#,,@:@@@+,,,@@@@+,,,;@@@@,,@;,,@#,,,,,,@#@@@,,,,@@@@@,,,'@@@@,,@,,,@+,,,,,,@@@@:,,,@@@@',,,'@@@@,,,@:@@@;,,,,,,,,,,,,,,,,,,@@#,,,,#
             `,,,,,@@@,,,,,,,,,,,,,,,,;@,,,@;,@@,,;@,,@@,,,@;,,@:,,@#,@;,@#,,,,,,,@@,,#@,,@+,,,@,,:@,,,@',@,,@+,,,,,,#@,,;@,,@@,,,@:,:@,,,@@,,@@,,+@,,,,,,,,,,,,,,,,,@@#,,,,#
              `,,,,,@@@,,,,,,,,,,,,,,,@',,,',,@:,,,@,,@,,,,;@,@@,,,;:,@;@#,,,,,,,,@,,,,@,,,,,,,@;,@#,,,;:,@,@+,,,,,,,#@,,,,,,@,,,,#@,@#,,,,@,,@,,,,@,,,,,,,,,,,,,,,,@@#,,,,#
               `,,,,,@@@,,,,,,,,,,,,,,@,,,,,,,@,,,,@,,@@@@@@@,@',,,,,,@@@#,,,,,,,,@,,,,@;,,'@@@@;,@;,,,,,,@@@+,,,,,,,,@@@+,,,@,,,,;@,@;,,,,@,,@,,,,@,,,,,,,,,,,,,,,@@#,,,,#
                `,,,,,@@@,,,,,,,,,,,,,@,,,,,,,@,,,,@,,@,,,,,,,@',,,,,,@#,@,,,,,,,,@,,,,@:,@@;,,@;,@;,,,,,,@+:@,,,,,,,,,,+@@:,@,,,,;@,@;,,,,@,,@,,,,@,,,,,,,,,,,,,,@@#,,,,#
                 `,,,,,@@@,,,,,,,,,,,,@+,,,#@,@,,,,@,,@:,,,;#,@@,,,;@,@;,#@,,,,,,,@,,,,@,,@,,,,@;,@#,,,'@,@,,@@,,,,,,#+,,,@#,@:,,,@@,@@,,,:@,,@,,,,@,,,,,,,,,,,,,@@#,,,,#
                  `,,,,,@@@,,,,,,,,,,,:@:,:@:,@,,,,@,,#@,,,@',,@;,,@',@;,,@+,,,,,,@@,,@@,,@:,,@@;,,@:,,@;,@,,,@',,,,,'@,,,@:,#@,,;@,,,@;,,@#,,@,,,,@,,,,,,,,,,,,@@#,,,,#
                   `,,,,,@@@,,,,,,,,,,,;@@@;,,@,,,,@,,,'@@@',,,:@@@+,,@;,,:@,,,,,,@;@@@,,,'@@@:@@,,:@@@',,@,,,;@,,,,,,#@@@;,,,+@@@:,,,:@@@',,,@,,,,@,,,,,,,,,,,@@#,,,,#
                    `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                     `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                      `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                       `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                        `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                         `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                          `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                           `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                            `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                             `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                              `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                               `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                 `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                  `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                   `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                    `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                     `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                      `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                       `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                        `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                         `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                          `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                           `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                            `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                             `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                              `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                               `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                 `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                  `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                   `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                    `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                     `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                      `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                       `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                        `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                         `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                          `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                           `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                            `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                             `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                              `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                               `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                                `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                                 `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                                  `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                                   `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                                    `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                                     `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                                      `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                                       `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                                        `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                                         `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                                          `,,,,,@@@,,,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                                           `,,,,,@@@,,,,,,,,,,,,,,,,,,,@@#,,,,#
                                                                            `,,,,,@@@,,,,,,,,,,,,,,,,:@@#,,,,#
                                                                             `,,,,,@@@:,,,,,,,,,,,,,#@@#,,,,#
                                                                              `,,,,,@@@@:,,,,,,,,,+@@@;,,,,#
                                                                               `,,,,,:@@@@@#''+@@@@@@,,,,,#
                                                                                `,,,,,,:@@@@@@@@@@#,,,,,,#
                                                                                 `,,,,,,,,,;''':,,,,,,,,#
                                                                                  `,,,,,,,,,,,,,,,,,,,,#
                                                                                   `,,,,,,,,,,,,,,,,,,#
                                                                                     ;,,,,,,,,,,,,,,,#
                                                                                      #,,,,,,,,,,,,;.
                                                                                        +;,,,,,,,+,
                                                                                            .:.
    </pre>
{% endblock %}
